# Ambientes Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variáveis de Ambiente
.env

# Banco de dados e mídias
data/*
!data/.gitkeep

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db
